h1 {
  text-align: center;
}

body {
  background-color: #181818;
  color: white;
  font-family: Verdana;
  margin: auto; width: 70%
}
a {
  color: #ff6600
}

.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 175px;
}

.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.subtext {
  font-size: 75%;
}

.fundaddress {
  font-size: 85%;
  font-weight: bold
}

.subaddresses {
  color: #ff6600;
  font-size: 75%
}

.logo {
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;  
  width: 50px;
}
  
.fundgoal {
  font-size: 85%;
  float: right;
  padding-right: 40%;
  font-weight: bold;
}