

html,
body {
	background: black 
}

html {
	height: 100% 
}

body {
	color: white ;
	font-family: monospace ;
	font-size: 16px ;
	line-height: 1.4 ;
	margin: 0 ;
	min-height: 100% ;
	overflow-wrap: break-word 
}

.post-meta {
	text-align: left 
}

h1{
	color:gray;
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 3rem 
}

hr {
	margin: 2rem 0 
}

p {
	margin: 1rem 0 
}

li {
	margin: 0.4rem 0 
}

*:target {
	background: yellow 
}

.w {
	max-width: 640px ;
	margin: 0 auto ;
	padding: 4rem 2rem 
}

hr {
	text-align: left ;
	border: 0 
}

hr:before {
	content: "/////" 
}

hr:after {
	content: attr(data-content) "/////" 
}

table {
	width: 100% 
}

table,
th,
td {
	border: thin solid black ;
	border-collapse: collapse ;
	padding: 0.4rem 
}

code {
	color: white ;
	background: black 
}

div.highlighter-rouge code {
	display: block ;
	overflow-x: auto ;
	white-space: pre-wrap ;
	padding: 1rem 
}

blockquote {
	font-style: italic ;wi
	border: thin solid black ;
	padding: 1rem 
}

blockquote p {
	margin: 0
}

img {
	max-width: 100% ;
	display: block ;
	margin: 0 auto 
}

.btc-subaddress{
	color: #ff4f00 ;
	font-family: monospace ;
	cursor: pointer ;
	display: inline-block ;
}

.xmr-subaddress{
	color: #ff4f00 ;
	font-family: monospace ;
	cursor: pointer ;
	display: inline-block ;
}

.xmr-subaddress:hover {
  background-color: gray;
}

.btc-subaddress:hover {
  background-color: gray;
}
.wishtitle{
	color: cyan ;
}

#ascii-progress-bar{
	color: limegreen ;
	font: monospace ;
	font-size: 10px ;
}

.qrimage{
	color: blue ;
}

.qrbtn{
	text-align:left ;
}

input.accordion {
    display: none;
}

label.accordion {
    cursor: zoom-in;
}

input.accordion:checked ~ .qr-content {
    height: auto;
    padding: 1rem;
}

.qr-content {
    overflow: hidden;
    padding: 0;
    height: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    display: inline-block;
}

.qr img {
    border-radius: 5px;
    max-width: 100%;
    display: inline-block;
}

.subtitle{
	color: yellow;
}


div.tasks{
 outline-style: dotted;
 text-align: left;
}

div.events{
 outline-style: dotted;
}

.comment{
	color:orange;
}



.red{
	color:red;
}
.gray{
	color:gray;
}
.yellow{
	color:gray;
}
.green{
	color:limegreen;
}
.cyan{
	color:cyan;
}


.brackets{
	color: purple;
}

pre {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  margin-bottom: 10px;
  max-height: 600px;
  overflow: auto;
  padding: 5px;
  width: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: orange;
}